html, body {
    font-family: helvetica, arial;
    font-size: 15px;
}

span.arrow {
    display: inline-block;
    width: 15px;
}

div.node {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.1);
}

div.hovered {
    background-color: rgba(255, 255, 0, 0.1);
}

div.selected {
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.1);
}

#dragging {
    background-color: rgba(0, 255, 0, 0.1);
    position: absolute;
    font-weight: normal;
}
